<!DOCTYPE html> 
<html>
		
	<header class="heading"> 
		<h1><%= title %></h1> 
	</header> 

	<header> 
		<div class="topnav"> 
			<a href="/">Home</a>
			<a href="/recipe">Recipe List</a>
			<a href="/add">Add Recipe</a>
		</div>
	</header>

	<head> 
		<title><%= title %></title> 
		<link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
	</head>

