<%- include('./partials/header') %> 

	<body>
		<div class="info"> 
			<h3>About Me</h3>
			<h4>Hello, my name is Jordan Carter and I am a amateur pizza maker. During my time over Covid-19 I decided to look through my mom's cookbook learn to make my favorite food, a pepperoni pizza. Through many trials and errors, I have gone from making pizzas that had too much flour to have edible bread, or overly spicy salt from too much pepper, to pizza that are at least something others can eat. As for any other types of food ..... Yeah I only know how to make Pizza, so please join me in expanding my repetorie by looking through and even adding your own recipe to my cookbook!</h4>  
	
		</div> 

		<div class="button-group">
			<form action="/recipe">

				<input type="submit" id="recipe-list" value="Check out recipes">
			</form> 
		
			
			<form action="/add"> 
				<input type="submit" id="add-recipe" value="Add your own recipes" > 
			</form> 
		</div>
	</body> 
</html> 
